.checkout {
    display:flex;
    justify-content: center;
    /* padding:20px; */
    background-color: white;
    height:max-content;
}

.checkout_title {
    display: flex;
    align-items: center;
    margin-top:10px;
    padding:10px;
}

.checkout_left {
    display:flex;
    flex-direction:column;
}

.checkout_right {
    display:flex;
    flex-direction:column;
}